.careChannels__container {
	width: 100%;
	min-height: 700px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 50px;

	padding: 0 10%;
}

.careChannels__image {
	width: 500px;
	height: auto;
	z-index: 2;
}

.careChannels__info__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	z-index: 2;
}

.careChannels__info__subtitle {
	display: flex;
	align-items: center;
}
.careChannels__info__subtitle hr {
	width: 40px;
	height: 4px;
	background: var(--secondary-color-app);
	border: 0px;
	margin-block-start: 0.8em;
	margin-block-end: 0.5em;
	margin-inline-start: 0px;
	margin-inline-end: 20px;
}

.careChannels__info__title {
	font-weight: 600;
	font-size: 48px;
	line-height: 130%;
	color: #0276b5;
}

.rowForm__container{
	width: 500px;

	display: flex;
	flex-direction: column;

	gap: 20px;
}

.rowForm{
	display: flex;
	flex-direction: column;
	gap: 10px;
}