.status {
    background-color: orange;
    border-radius: 20px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 5px 10px;

  }