.container {
  width: 100%;
  min-height: calc(100vh - 20px);
  height: auto;
  background-color: #eff3f6;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.container_card {
  width: 1000px;
  height: auto;
}

.container_card_general {
  background-color: #ffffff;
  padding: 20px 30px;
  border: 1px solid #dfe3e9;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.flexwidth {
  width: 100%;
  display: flex;
  gap: 20px;
}
.flexwidthDiv {
  width: 50%;
  display: inline;
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Boton {
  width: 100%;
  margin: 10px;
  text-align: center;
}
.Boton button {
  width: 200px;
}
.btnFlotante {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
}
