.preferentialExchange__container {
	width: 100%;
	max-width: 1200px;

	display: flex;

	justify-content: center;
	align-items: center;

	gap: 50px;
	margin: 0 auto;
	padding: 100px 0;
}

.preferentialExchange__info__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.preferentialExchange__info__title {
	font-weight: 600;
	font-size: 40px;
	color: var(--primary-color-app);
}

.preferentialExchange__info__subtitle {
	display: flex;
	align-items: center;
	gap: 20px;
}
.preferentialExchange__info__subtitle hr {
	width: 40px;
	height: 4px;
	background: var(--secondary-color-app);
	border: 0px;
	margin-block-start: 0.8em;
}

.preferentialExchange__info__text {
	font-weight: 500;
	font-size: 17px;
	color: #6e6d6d;
}

.preferentialExchange__image {
	/* width: 100%; */
	height: 550px;
	object-fit: cover;

	border-radius: 0.5rem;
}


.item__list__container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item__list{
	background-color: var(--secondary-color-app);
	padding: 10px 15px;
	border-radius: 25px;
	color: #fff;
	font-weight: 600;
}
