.mainNavBar__container {
	width: 100%;
	height: 80px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #ecf0f3;
}

.mainNavBar__list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.mainNavBar__list__item {
	font-weight: 600;
}

.button {
	padding: 15px 25px;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	/* background-color: #007aa8; */
	background-color: var(--secondary-color-app);
	color: #fff;
	font-weight: 500;
}

.logo {
	height: 60px;
}
