.createSessionBar__container {
	width: 100%;
	max-width: 1200px;

	margin: 20px auto;
	padding: 20px;

	background-color: #fff;
	border: solid 1px var(--border-color-app);
	border-radius: 15px;

	display: flex;
	justify-content: space-between;
}

.button {
	padding: 0.8rem 1.25rem;

	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #fff;

	background: #2ea1f8;
	background: linear-gradient(180deg, #2ea1f8, #1990ea);
	border: none;
	border-radius: 4px;

	cursor: pointer;
}

.button:hover,
.button:focus {
	outline: 0;
	color: #fff;
	text-decoration: none;
	background: linear-gradient(180deg, #1a98f7, #1485db);
}
