.appStructure__container {
	display: flex;
	position: relative;
}

.appStructure__mainContent {
	width: 100%;
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	padding-bottom: 50px;

	background-color: var(--background-color-app);
}
