.homePage__container {
	width: 100%;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 2fr;
}

.homePage__img__section {
	width: 100%;
	height: 100%;

	background-image: url("../assets/LR.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Content section */

.homePage__content__section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.homePage__content__container {
	width: 500px;

	display: flex;
	flex-direction: column;
	gap: 30px;
}

.homePage__title {
	text-align: center;
}

.additional__info__container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.additional__info__text {
	font-size: 12px;
	color: rgb(155, 155, 155);
	font-weight: 600;
}

.footer__container {
	font-size: 12px;
	color: rgb(155, 155, 155);
	font-weight: 600;

	padding: 50px;
}

.btnFlotante {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 100;
}
