.centerDiagramaAnillo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.centerDiagramaAnillo div{
    min-width: 50%;
    display: inline;
}
.diagram__container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 10px;
    margin: 25px 0;
    padding: 0 50px;
}