.homePage__form__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.title {
	font-size: 20px;
	font-weight: 500;
}

.homePage__check__container {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.homePage__radio__item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.homePage__form__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homePage__form__item__area {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
