.secureTransactions__container {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #f6f6f6;
	color: #fff;
	gap: 20px;
	padding: 50px 0;
}

.secureTransactions__info__title {
	font-size: 40px;
	font-weight: 500;
	color: var(--primary-color-app);
}

.secureTransactions__info__subtitle {
	display: flex;
	align-items: center;
}
.secureTransactions__info__subtitle hr {
	width: 40px;
	height: 4px;
	background: var(--secondary-color-app);
	border: none;
	margin-block-start: 0.8em;
	margin-inline-end: 20px;
}

.aliados__info {
	max-width: 1200px;
	color: var(--primary-color-app);
	font-weight: 500;
}

.aliados__logos__container {
	display: grid;

	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
	margin: 50px 0;
}
