.sessionCard__container {
	width: 100%;
	max-width: 1200px;
	height: 250px;

	border: solid 1px var(--border-color-app);
	border-radius: 15px;
	background-color: #fff;

	padding: 20px;

	display: grid;
	grid-template-columns: 1fr 350px;
	gap: 20px;
}

.sessionCard__info__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.sessionCard__title {
	font-size: 20px;
	font-weight: 600;
}

.img__container {
	border-radius: 0.5rem;
	overflow: hidden;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button {
	width: fit-content;
	padding: 0.5rem 1rem;

	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #fff;

	background: #2ea1f8;
	background: linear-gradient(180deg, #2ea1f8, #1990ea);
	border: none;
	border-radius: 4px;

	cursor: pointer;
}

.button:hover,
.button:focus {
	outline: 0;
	color: #fff;
	text-decoration: none;
	background: linear-gradient(180deg, #1a98f7, #1485db);
}
