.login__section {
  width: 100%;
  height: 100vh;
  padding-top: 60px;

  display: flex;
  justify-content: center;

  background-color: #fbfdfe;
  /* background-image: url("https://www.esan.edu.pe/images/blog/2021/09/10/1500x844-almacenamiento-centros-distribucion-2021.jpg"); */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://www.esan.edu.pe/images/blog/2021/09/10/1500x844-almacenamiento-centros-distribucion-2021.jpg");
}
.login__container {
  width: 540px;
  height: fit-content;
  padding: 2rem;
  border: 1px solid #ecf0f3;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  background-color: #fff;
}

.login__title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.login__subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.login__buttonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  margin: 10px 0;
}
.login__button {
  height: 40px;
  padding: 10px 0;
  border: none;
  border-radius: 0.3rem;
  background-color: #ecf0f3;
}

.login__form__item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;
}
.login__form__button {
  width: 100%;
}
.login__form__input {
  padding: 10px 15px;
}
.login_forgot_pass {
  color: #333;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  text-decoration: underline;
}

	
