.createSessionForm__container {
	width: 100%;
	max-width: 1200px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 50px;

	padding: 20px;
	border: 1px solid var(--border-color-app);
	border-radius: 15px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.createSessionForm__header {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.createSessionForm__title {
	font-size: 20px;
	font-weight: 600;
}

.createSessionForm__header hr {
	background-color: #d9d9d9;
	height: 1px;
	border: none;
}

/* inputs */

.inputGroup__primary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin-bottom: 10px;
}

.inputGroup__primary label {
	white-space: nowrap;
}
.inputGroup__primary input {
	width: 82.5%;
	padding: 6px 10px;
	outline: none;
}

.inputGroup__general {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 50px;
}

.inputGroup__general input {
	width: 350px;
	padding: 6px 10px;
	outline: none;
}

.input__container {
	padding: 5px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

/* button, luego optimizar */
.button {
	padding: 0.8rem 1.25rem;

	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #fff;

	background: #2ea1f8;
	background: linear-gradient(180deg, #2ea1f8, #1990ea);
	border: none;
	border-radius: 4px;

	cursor: pointer;
	margin-top: 20px;
}

.button:hover,
.button:focus {
	outline: 0;
	color: #fff;
	text-decoration: none;
	background: linear-gradient(180deg, #1a98f7, #1485db);
}
