.mainCover {
	width: 100%;
	height: calc(100vh - 300px);
	/* background-color: var(--primary-color-app); */
	background-color: #171E42;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 0 10%;
	gap: 50px;
}

.mainCover__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 0 30px;
}

.mainCover__info__text__container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mainCover__info__title {
	color: #fff;
	font-size: 46px;
	font-weight: 700;
	/*line-height: 90%;*/
}

.mainCover__info__title__secondary {
	color: var(--support-color-app);
	font-size: 25px;
	font-weight: 700;
	line-height: 100%;
}

.mainCover__info__text {
	color: #fff;
}

/* Call to action */

.mainCover__cta {
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.mainCover__cta__button {
	width: fit-content;
	background-color: var(--secondary-color-app);
	color: #fff;

	font-size: 18px;
	font-weight: 600;

	padding: 10px 25px;
	border: none;
	border-radius: 25px;
}

.mainCover__cta__text {
	font-weight: 600;
}
.mainCover__cta__text span {
	font-weight: 400;
}

/* Ilustracion para cover */
.mainCover__ilustracion__container {
	width: 100%;
	display: grid;
	/*place-items: center;*/
}

.mainCover__ilustracion__container img {
	width: 80%;
}
