.mainHeader__container {
	width: 100%;
	height: 80px;

	display: flex;

	align-items: center;
	justify-content: space-between;
	padding: 0 50px;

	border-bottom: 1px solid #ecf0f3;
	background-color: #fff;
}

.mainHeader__profile {
	width: 38px;
	height: 38px;
	background-color: #333;
	color: #fff;
	font-weight: bold;

	border-radius: 100%;
	display: grid;
	place-content: center;

	cursor: pointer;
}

.mainHeader__title {
	font-size: 20px;
	font-weight: 500;
}

/* Menu */

.profileMenu {
	width: 200px;

	position: absolute;
	bottom: -110px;
	right: 0;

	box-shadow: 0 0 10px rgba(155, 155, 155, 0.5);

	background-color: #fff;

	border-radius: 0.5rem;
	padding: 20px;

	z-index: 2;
}

.profileMenu__title {
	font-size: 20px;
	font-weight: 600;
}

.profileMenu__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.profileMenu__item {
	height: 25px;

	display: flex;
	align-items: center;
	gap: 10px;

	color: #333;
	cursor: pointer;
}

/* navbar */

.mainHeader__navbar__container {
	display: flex;
	align-items: center;
	gap: 30px;
}

.mainHeader__navbar {
	display: flex;
	gap: 15px;
}

.mainHeader__navbar li {
	font-weight: 500;
	cursor: pointer;
}
