.callToAction__container {
	width: 100%;
	background-color: #171e42;
	display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
	padding: 50px 0;
}

.callToAction__text{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.mainCover__cta__button {
	width: fit-content;
	background-color: var(--secondary-color-app);
	color: #fff;

	font-size: 18px;
	font-weight: 600;

	padding: 12px 25px;
	border: none;
	border-radius: 25px;
}
