/* form */

.homePage__form__container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.homePage__form__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.homePage__form__item__area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* reclamo o queja */

.claim__info__container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 10px;
}

.claim__text{
	/* color: deeppink; */
	color: cornflowerblue;
	font-size: 13px;
}

.claim__text span {
	font-weight: 700;
}