.sectionStructure__container {
	width: 100%;
	max-width: calc(100vw - 360px);

	background-color: #fff;
	border-radius: 15px;
	border: solid 1px var(--border-color-app);

	display: flex;
	flex-direction: column;
	gap: 10px;

	padding: 20px;
	margin: 20px;
}
