* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color-app: #007aa8;
	--secondary-color-app: #1cbec2;
	--support-color-app: #ffba7c;

	--background-color-app: #f5f8fa;
	--border-color-app: #ecf0f3;
	--border-color-app-two: #333;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

.section__container {
	/* background-color: antiquewhite; */

	padding: 0 10%;
}
